.formcontainer {
display:flex;
/* grid-template-columns: auto;  */
align-items: center;
justify-content: space-between;
}
.btn-container {
 text-align: center;
}
#container {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 98%;
}