li {
  list-style-type: none;
}
.box {
  display: flex;
}
.center {
  display: flex;
  align-items: center;
}
.data {
  display: flex;
  flex-direction: column;
}
.item {
  background-color: blue;
}
.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.headerRow {
  background-color: azure;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 3px silver solid
}
#body {
  background-color: black;
  color: white;
}
/* media queries */
@media screen and (max-width: 1000px){
  .item{
    font-size: 12px;
  }
}
@media screen and (max-width: 800px){
  .item{
    font-size: 10px;
  }
}
@media screen and (max-width: 600px){
  .item{
    font-size: 8px;
  }
}