li {
  list-style-type: none;
}
.box {
  display: flex;
  background-color: green;
  border: solid 1px black;
}
.center {
  display: flex;
  align-items: center;
}
.change {
  height: auto;
  width: auto;
}
.data {
  background-color: pink;
  display: flex;
  flex-direction: column;

}
.item {
  background-color: blue;
  border: solid black 1px;
}
#headerRow {
  background-color: azure;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#body {
  background-color: black;
  color: white;
}
#grid-container {
  background-color: green;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
/* media queries */
@media screen and (max-width: 1000px){
  .item{
    font-size: 12px;
  }
}
@media screen and (max-width: 800px){
  .item{
    font-size: 10px;
  }
}
@media screen and (max-width: 600px){
  .item{
    font-size: 8px;
  }
}