/*!*********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./app/style.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************/
body {
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
